.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #61dafb;
  border: 5px solid;
  border-color: #61dafb;
  margin: 40px;
  padding: 15px;
}

.todo_header {
  margin-bottom: 25px;
  font-size: calc(10px + 2vmin);
}

p {
  display: flex;
  justify-content: center;
  margin: 2px;
}

.input {
  color: aqua;
  margin: 10px;
  font-size: small;
}
input {
  margin: 10px;
}
