.App {
  text-align: center;
  color: #61dafb;
  border: 10px solid;
  border-color: red;
  border-width: 5px;
}

.todo_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: brown;
}

.del {
  border-color: blue;
  border-radius: 10%;
}
